[Unit]
Description=HiveHost Privileged Server Helper Service
After=network.target

[Service]
User=root
Group=hivehost_server


ExecStart=/usr/local/bin/hivehost_server_helper


Restart=on-failure
RestartSec=5

RuntimeDirectory=hivehost_server_helper
RuntimeDirectoryMode=0770
UMask=0007

EnvironmentFile=/home/canarit/projects/hive_host/.env


[Install]
WantedBy=multi-user.target
