[Unit]
Description=HiveHost Hosting Server Service
After=network.target

[Service]
User=hivehost_server
Group=hivehost_server

ExecStart=/usr/local/bin/hivehost_server_hosting

Restart=on-failure
RestartSec=5

RuntimeDirectory=hivehost_server_hosting
RuntimeDirectoryMode=0770
EnvironmentFile=/home/canarit/projects/hive_host/.env

[Install]
WantedBy=multi-user.target